
* {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 0px;
}
.card,
.card-img-top{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 0px;
}
.card-body h5 {
  font-size: 1rem;
}
.card-title{
  margin-bottom:5px; 
  font-size: 18px;
}

#car-list > div{
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 576px) {
  .card-body h5 {
    font-size: 1.25rem;
  }
}

div.car-price{
  color:#686563;
  font-weight: bold;
  font-size: 20px;
}
.condition-label{
  bottom: 0px;
  background-color: #007bff;
  padding: 0px 10px;
  font-size: 14px;
  color: white;
}
.brand-list a.current{
  font-weight: bold;
  color:#007bff
}

.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}


