.remove{
  position: absolute;
  top:0px;
  width: 100%;
  text-align: center;
}
#image-upload {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
}
#image-gallery{
  cursor: pointer;
  width: 25%;
}
.image-gallery{
  width: 25%;
}

@media (min-width: 576px) {
  #image-upload {
    width: 60%;
  }
}

@media (min-width: 768px) {
  #image-upload,
  .image-gallery {
    width:30%;
  }
  #image-gallery,.image-gallery{
    width: 20%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #007bff;
          box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

#car-list .table td, 
#car-list .table th{
  vertical-align: middle;
}
