@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

.card-body h5 {
    font-size: 1rem;
}
  @include media-breakpoint-up(sm) {
    .card-body h5 {
      font-size: 1.25rem;
    }
  }
  
